dj-database-url==0.3.0
dj-static==0.0.6
Django==1.5
django-cal==0.2.2
django-piston==0.2.3
django-toolbelt==0.0.1
gunicorn==19.1.1
oauthlib==0.7.2
psycopg2==2.5.4
PyJWT==0.4.1
python-dateutil==2.4.0
python-openid==2.2.5
python-social-auth==0.2.1
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
South==1.0.2
static3==0.5.1
vobject==0.6.6
whitenoise==1.0.6
newrelic