<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="IE=8">
<title>Há greve?</title>
<link rel="stylesheet" href="{{ static_url }}reset.min.css"/>
<link rel="stylesheet" href="{{ static_url }}desktop.min.css" media="(min-width:481px)"/>
<link rel="stylesheet" href="{{ static_url }}mobile.min.css"  media="only screen and (max-device-width:480px)"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ static_url }}desktop.min.css" />
<![endif] -->
<meta property="og:title" content="Hoje há Greve?" />
<meta name="apple-itunes-app" content="app-id=515833945" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://hagreve.com" />
<meta property="og:image" content="{{ static_url }}hagreve.png" />
<meta property="og:site_name" content="Hoje há Greve?" />
<meta property="fb:admins" content="742114076,100000421780401" />
<meta property="fb:app_id" content="146062042128454" />
<meta property="fb:title" content="Hoje há greve?" />
<meta name="description=" content="Descubra quando são as próximas greves nos transportes públicos portugueses, e se tem que ir a pé até ao trabalho." />
<link rel="alternate" type="application/rss+xml" title="Hoje há greve?" href="http://hagreve.com/rss" />
<meta name="google-site-verification" content="0lRRTSuqRs5PRoM9qJDfObwAbBCfYLW-M7f13RPLPbE" />
<link rel="profile" href="http://microformats.org/profile/hcalendar">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="apple-touch-icon-precomposed" media="screen" href="{{ static_url }}apple-57.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="{{ static_url }}apple-57.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="{{ static_url }}apple-72.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="{{ static_url }}apple-114.png" />
<link type="text/plain" rel="author" href="{{ static_url }}humans.txt" />
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22490667-1']);
_gaq.push(['_setDomainName', '.hagreve.com']);
_gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" async="true" src="https://api.flattr.com/js/0.6/load.js?mode=auto"></script>
</head>
<body>
<div id="page">
<h1><a href="/">Hoje há greve?</a> <span>Veja se consegue chegar ao trabalho.</span></h1>
<div id="content">
{% block content %}

{% endblock %}
</div>

<div id="snAndSubmit">
  <ul id="tabs" style="position: absolute;top: 30px;right: 0; text-align:right">

    <li class="tli">
    	<a href="http://itunes.apple.com/pt/app/ha-greve/id515833945?l=en&mt=8">iPhone</a>
    	<div class="tabbody">Aplicação Há Greve na <a href="http://itunes.apple.com/pt/app/ha-greve/id515833945?l=en&mt=8">AppStore</a>.</div>
    </li><!--

 --><li class="tli">
    	<a href="https://play.google.com/store/apps/details?id=com.hagreve.android">Android</a>
    	<div class="tabbody">Aplicação Há Greve no <a href="https://play.google.com/store/apps/details?id=com.hagreve.android">Google Play</a>.</div>
    </li><!--

 --><li class="tli">
    	<a href="http://blog.hagreve.com">Blog</a>
    	<div class="tabbody">Veja algumas novidades no nosso <a href="http://blog.hagreve.com">blog</a>.</div>
    </li><!--

 --><li class="tli">
    	<a href="mailto:submeter@hagreve.com" style="font-weight:bold">Submeter</a>
    	<div class="tabbody">Ajude-nos a manter o site actualizado enviando-nos novas informações para <a href="mailto:submeter@hagreve.com">submeter@hagreve.com</a></div>
    </li><!--

 --><li class="tli">
    	<a href="">Subscrever</a>
		<div class="tabbody">
			Mantenha-se actualizado pelos seguintes serviços<br/>
    		<a href="http://hagreve.com/rss">RSS</a>&nbsp;&nbsp;
    		<a href="http://twitter.com/hagreve">Twitter</a>&nbsp;&nbsp;
    		<a href="http://facebook.com/hagreve">Facebook</a>&nbsp;&nbsp;
    		<a href="webcal://hagreve.com/ics">iCal</a>
    	</div>
    </li><!--

 --><li id="sharing" class="tli active">
    	<a href="">Partilhar</a><div id="sharetab" class="tabbody" style="text-align:center"><div style="width: 56px; display: inline-block; overflow: hidden;"><a class="FlattrButton" style="display:none;" data-flattr-button="compact" href="http://hagreve.com"></a><noscript><a href="http://flattr.com/thing/180236/Hoje-Ha-Greve" target="_blank"><img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript></div>
<g:plusone size="medium" count="false" href="http://hagreve.com"></g:plusone>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="hagreve">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<iframe id="fb" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhagreve.com&amp;layout=button_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font&amp;colorscheme=light&amp;height=23&locale=pt_PT" scrolling="no" frameborder="0"  allowTransparency="true"></iframe></div></li></ul>


<div id="user_links" style="display:none"><!---------- USER -------->
	{% if user.is_authenticated %}
		<div id="submit">Olá <a href="/profile">{{ user.first_name }} {{ user.last_name }}</a>! <a href="/logout" id="logout">Sair</a></div>
		<a href="/subscribe" id="subscribeButton" onclick="return displayOverlay('subscribe')">Subscrever iCal RSS …</a>
		{% if "/submit" not in request.path %}
			<a href="/submit" id="submitButton">Submeter greve</a>
		{% endif %}
		{% if "/submissions" not in request.path %}
			<a href="/submissions" id="subscribeButton">Ver submissões</a>
		{% endif %}
	{% else %}
		<a href="/subscribe" id="subscribeButton" onclick="return displayOverlay('subscribe')">Subscrever iCal RSS …</a>
		<!-- <a href="/login" id="submitButton" onclick="return displayOverlay('submit')">Submeta greves</a> -->
		<p>Envie informações de greves para <a href="mailto:submeter@hagreve.com">submeter@hagreve.com</a>.</p>
	{% endif %}
</div>
<div id="disclaimer"><strong>Atenção:</strong> Toda a informação contida neste site é apenas informativa e não é garantida a sua correcção.<br>Deverá sempre consultar informações junto das empresas aqui referidas. Não nos responsabilizamos por despedimentos por ficar em casa a preguiçar ou qualquer outra coisa seja ela qual for.<br/>Este site não está afiliado a qualquer empresa ou sindicato.</div>
<div id="fotter">&copy; 2011 &mdash; <a href="http://twitter.com/jpgneves" title="@jpgneves">João Neves</a>, <a href="http://twitter.com/carlosefonseca" title="@carlosefonseca">Carlos Fonseca</a> e <a href="http://twitter.com/filcab" title="@filcab">Filipe Cabecinhas</a> &mdash; <a href="mailto:info@hagreve.com">info@hagreve.com</a> &mdash; <a href="/api">api</a></div>
</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
{% block pagescripts %}
{% endblock %}
<script type="text/javascript">
var menuTimer;
var tabs = document.getElementById("tabs");

function menuover() {
	document.getElementById("sharing").className = "tli";
	clearTimeout(menuTimer);
}

function menuout() {
	menuTimer = setTimeout("showSharing()", 4000);
}

function showSharing() {
	document.getElementById("sharing").className = "tli active";
}

showSharing();

var lis = document.getElementsByClassName("tli");
for(var i = 0; i<lis.length-1 ; i++) {
	lis[i].onmouseout = function(e) { menuout(); };
	lis[i].onmouseover = function(e) { menuover(); };
}

var shareli = document.getElementById("sharing");

shareli.onmouseover = function(e) {
	shareli.className = "tli active";
	clearInterval(menuTimer);
}

</script>

</html>
