<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="IE=8">
<title>Há greve?</title>
<link rel="stylesheet" href="http://static.hagreve.com/reset.min.css"/>
<link rel="stylesheet" href="http://static.hagreve.com/desktop.min.css" media="(min-width:481px)"/>
<link rel="stylesheet" href="http://static.hagreve.com/mobile.min.css"  media="only screen and (max-width:480px)"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="http://static.hagreve.com/desktop.min.css" />
<![endif] -->
<meta property="og:title" content="Hoje há Greve?" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://hagreve.com" />
<meta property="og:image" content="http://static.hagreve.com/hagreve.png" />
<meta property="og:site_name" content="Hoje há Greve?" />
<meta property="fb:admins" content="146062042128454" />
<meta name="description=" content="Descubra quando são as próximas greves nos transportes públicos porugueses, e se tem que ir a pé até ao trabalho." />
<link rel="alternate" type="application/rss+xml" title="Hoje há greve?" href="http://hagreve.com/rss" /> 
<meta name="google-site-verification" content="0lRRTSuqRs5PRoM9qJDfObwAbBCfYLW-M7f13RPLPbE" />
<link rel="profile" href="http://microformats.org/profile/hcalendar">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
<link rel="apple-touch-icon-precomposed" media="screen" href="http://static.hagreve.com/apple-57.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="http://static.hagreve.com/apple-57.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="http://static.hagreve.com/apple-72.png" />
<link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="http://static.hagreve.com/apple-114.png" />
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22490667-1']);
_gaq.push(['_setDomainName', '.hagreve.com']);
_gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" async="true" src="http://api.flattr.com/js/0.6/load.js?mode=auto"></script>
</head>
<body>
<h1>Hoje há greve? <span>Veja se consegue chegar ao trabalho.</span></h1>
{% block content %}

{% endblock %}
<div id="snAndSubmit"><div id="sn">
<a class="FlattrButton" style="display:none;" data-flattr-button="compact" href="http://hagreve.com"></a><noscript><a href="http://flattr.com/thing/180236/Hoje-Ha-Greve" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="hagreve">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<iframe id="fb" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhagreve.com&amp;layout=button_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></div>
{% if user.is_authenticated %}
<div id="submit">Bem-vindo <a href="/profile">{{ user.first_name }} {{ user.last_name }}</a>!
<p id="user_links"><a href="/submit">Submeter greve</a> <a href="/submissions">Ver submissões</a></p>
<p id="logout"><a href="/logout">Logout</a></p>
{% else %}
<div id="submit"><p class="info">Faça login num destes serviços para submeter greves:</p>
	<ul class="buttons">
		<li class="facebook"><a href="/login/facebook?next={{request.path}}">Facebook</a></li>
		<li class="twitter"><a href="/login/twitter?next={{request.path}}">Twitter</a></li>
		<li class="google"><a href="/login/google?next={{request.path}}">Google</a></li>
	</ul>
Ou envie para <a href="mailto:submeter@hagreve.com">submeter@hagreve.com</a>.
{% endif %}
<p id="subscribe" style="margin-top:8px;">Subscrever: 
<a type="text/calendar" href="webcal://hagreve.com/ics" id="ics" title="Subscreva ao calendário de greves na sua aplicação de calendário">iCal</a> <a href="rss" id="rss" title="Subscreva à lista de greves no seu leitor de RSS">RSS</a></p></div>
</div>
<div id="disclaimer"><strong>Atenção:</strong> Toda a informação contida neste site é apenas informativa e não é garantida a sua correcção.<br>Deverá sempre consultar informações junto das empresas aqui referidas. Não nos responsabilizamos por despedimentos por ficar em casa a preguiçar ou qualquer outra coisa seja ela qual for.<br/>Este site não está afiliado a qualquer empresa ou sindicato.</div>
<div id="fotter">&copy; 2011 &mdash; <a href="http://twitter.com/jpgneves" title="@jpgneves">João Neves</a>, <a href="http://twitter.com/carlosefonseca" title="@carlosefonseca">Carlos Fonseca</a> e <a href="http://twitter.com/filcab" title="@filcab">Filipe Cabecinhas</a> &mdash; <a href="mailto:info@hagreve.com">info@hagreve.com</a></div>
</body>
</html>
