{% extends "base.html" %}

{% block content %}
<div id="explanation">
<p>Nesta p&aacute;gina encontra um calend&aacute;rio de todos os dias nos quais houve uma greve
marcada e registada por nós (independentemente se foi desconvocada ou não).</p>

<p>Em breve introduziremos outras informa&ccedil;&otilde;es &uacute;teis!</p>
<h2>Total de greves registadas: {{ total_strikes }}</h2>
<h2>Desconvocadas: {{ canceled_strikes }}</h2>
<h2>M&eacute;dia de greves por dia: {{ avg_per_day }}</h2>
</div>
<div id="strike_calendar">
</div>
{% endblock %}

{% block pagescripts %}
<!-- Adapted from http://bl.ocks.org/mbostock/4063318 -->
<script src="{{ static_url }}d3.v3.min.js" charset="utf-8"></script>
<style>
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
</style>
<script type="text/javascript">

function expandStrikes(strikes) {
  var format = d3.time.format("%Y-%m-%d %X");
  var start = format.parse(strikes[0].start_date);
  var end   = format.parse(strikes[strikes.length - 1].end_date);
  var data = [];
  var expand = function(strike) {
                 var st = format.parse(strike.start_date);
                 var et = format.parse(strike.end_date);
                 if(st >= start && et <= end) {
                     while(st <= et) {
                        data.push({'date': formatDate(st)});
                        st.setDate(st.getDate() + 1);
                     }
                 }};
  strikes.map(expand);
  return data;
}

var strikes = expandStrikes(JSON.parse('{% autoescape off %} {{ strikes_json }} {% endautoescape %}'));

var width = 960,
    height = 136,
    cellSize = 17; // cell size

var day = d3.time.format("%w"),
    week = d3.time.format("%U"),
    format = d3.time.format("%d/%m/%Y");

var color = d3.scale.quantize()
    .domain([0, 10])
    .range(d3.range(11).map(function(d) { return "q" + (11 - d) + "-11"; }));

var svg = d3.select("#strike_calendar").selectAll("svg")
    .data(d3.range(2011, new Date().getFullYear()+2)) // Present data for now and the future
    .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "RdYlGn")
    .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text(function(d) { return d; });

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
    .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) { return week(d) * cellSize; })
    .attr("y", function(d) { return day(d) * cellSize; })
    .datum(format);

rect.append("title")
    .text(function(d) { return d; });

svg.selectAll(".month")
    .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
    .enter().append("path")
    .attr("class", "month")
    .attr("d", monthPath);

 var data = d3.nest()
    .key(function(d) { return d.date; })
    .rollup(function(d) { return d.length; })
    .map(strikes);

    rect.filter(function(d) { return d in data; })
        .attr("class", function(d) { return "day " + color(data[d]); })
        .select("title")
        .text(function(d) { return d + ": " + data[d] + " greve(s)"; });

function formatDate(date) {
   var d = new Date(date);
   return d3.time.format("%d/%m/%Y")(d);
}

function monthPath(t0) {
  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
      d0 = +day(t0), w0 = +week(t0),
      d1 = +day(t1), w1 = +week(t1);
  return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
      + "H" + w0 * cellSize + "V" + 7 * cellSize
      + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
      + "H" + (w1 + 1) * cellSize + "V" + 0
      + "H" + (w0 + 1) * cellSize + "Z";
}

</script>
{% endblock %}
