{% extends "base.html" %}

{% block content %}
<div id="submit">
	Enviem-nos informações sobre futuras greves para <a href="mailto:submeter@hagreve.com">submeter@hagreve.com</a>.
</div>

{% if false %}
<div id="filterbar">
	Transportes:
	<ul id="transportes-filter">
		{% for company in companies %}
		<li class="on">{{ company.name }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% if strikes %}
<ul id="meses">
	{% for month in strikes.values %}
	<li>
		<span class="mes">{{ month.nome }}</span>
		<ul class="dias">
			{% for dia, transportes in month.dias.items %}
			<li>
				<span class="dia">{{ dia }}</span>
				<ul class="transportes">
					{% for transporte, strikes in transportes.items %}
					<li class="transporte {{transporte}}"><span>{{transporte}}</span>
						<ul class="mensagens">
							{% for strike in strikes %}
							{% if strike.start_date != strike.end_date %}
							<li class="wtime{% if strike.canceled %} canceled{% endif %}">
								<div class="time"><span class="time start">{{strike.start_date|date:"G:i"}}</span><span class="time end">{{strike.end_date|date:"G:i"}}</span></div>
							{% else %}
								<li {% if strike.canceled %} class="canceled" {% endif %}>
							{% endif %}
								<div class="msg">{{strike.description}}{% if strike.source_link %} <a href="{{strike.source_link}}" title="Fonte oficial" class="source">Fonte</a>{% endif %}</div></li>
							{% endfor %}
						</ul><!-- mensagens -->
					</li>
					{% endfor %}
				</ul><!-- transportes -->
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>

{% else %}
	<p>Woohoo! N&atilde;o h&aacute; greves, podemos ir trabalhar! :D</p>
{% endif %}
{% endblock %}