{% extends "base.html" %}

{% block content %}

{% if false %}
<div id="filterbar">
 companies:
 <ul id="companies-filter">
  {% for company in companies %}
  <li class="on">{{ company.name }}</li>
  {% endfor %}
 </ul>
</div>
{% endif %}

{% if strikes %}
<ul id="years">
{% for year, strikes in strikes.items %}
<li>
{% if forloop.counter != 1 %}
<span class="year">{{ year }}</span>
{% else %}
<!-- current year -->
{% endif %}
<ul id="months">
{% for month in strikes.values %}
 <li>
  <span class="month">{{ month.name }}</span>
  <ul class="days">
{% for day, daystuff in month.days.items %}
   <li class="{{daystuff.alias}} {{daystuff.fix}}">
    <span class="day" title="{{daystuff.date}}">{{day}}</span>
	{% if daystuff.alias %}<div class="alias">{{daystuff.alias}}</div>{%endif%}
    <ul class="companies">
{% for company, strikes in daystuff.strikes.items %}
     <li class="company {{company|cut:" "}}">
      <span>{{company}}</span>
      <ul class="strikes">
{% for strike in strikes %}
{% if strike.start_date != strike.end_date and not strike.all_day %}
       <li class="wtime{% if strike.canceled %} canceled{% else %} vevent{% endif %}{% if strike.id in highlights %} highlight{% endif %}">
        <span class="summary" style="display:none;">Greve: {{company}}</span>
        <div class="time">
         <span class="time start"><abbr class="dtstart" title="{{strike.start_date|date:"c"}}">{{strike.start_date|date:"G:i"}}</abbr></span>
         <span class="time end"><abbr class="dtend" title="{{strike.end_date|date:"c"}}">{{strike.end_date|date:"G:i"}}</abbr></span></div>
{% else %}
        <li class="{% if strike.canceled %}canceled{% else %}vevent{% endif %}{% if strike.id in highlights %} highlight{% endif %}">
         <span class="summary" style="display:none;">Greve: {{company}}</span>
         <abbr class="dtstart" title="{{strike.start_date|date:"Y-m-d"}}"></abbr>
{% endif %}
         <div class="msg">
            {% if strike.start_date.date != strike.end_date.date %}
                <p class="multiday">Prolonga-se até <strong>{{ strike.end_date.date|date:"j \de F" }}</strong></p>
            {% endif %}
            <span class="description">{{strike.description|linebreaksbr}}</span>
            <a href="{{ strike.get_absolute_url }}" title="Link para esta greve" class="permalink">#</a>
            {% if strike.source_link %}
                <a href="{{strike.source_link}}" title="Fonte da Informação" class="source">Fonte</a>
            {% endif %}
         </div>
        </li>
{% endfor %}
      </ul><!-- strikes -->
     </li>
{% endfor %}
    </ul><!-- companies -->
   </li>
{% endfor %} <!-- days -->
  </ul>
 </li>
{% endfor %} <!-- months -->
</ul>
</li>
{% endfor %} <!-- years -->
</ul>

{% else %}
 <p class="nostrikes">Woohoo! N&atilde;o h&aacute; greves, podemos ir trabalhar! :D</p>
{% endif %}
{% endblock %}
