body {
	width: 800px;
	font: 11pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #2a2a2a;
	margin: auto;
	position: relative;
}

a {
	color: #000;
}

h1 {
	position: relative;
	padding-bottom: 19px;
	font: bold 36pt Georgia, "Times New Roman", Times, serif;
	margin: 20px;
	width: 430px;
	color: #727272;
	text-shadow: rgba(0,0,0,0.26) 2px 2px 0;
}

h1 span {
	font-size: small;
	position: absolute;
	width: 100%;
	text-shadow: none;
	margin-top: 2px;
	margin-left: 2px;
	left: 0;
	bottom: 0;
}


#filterbar, #submit {
	position: absolute;
	width: 250px;
	right: 0;
	margin: 15px;
	top: 0;
}

#submit {
	text-align: center;
}

#filterbar li {
	display: inline;
	margin-right: 10px;
	line-height: 1.4em;
	padding: 0 3px;
	border: 1px solid silver;
	-webkit-border-radius: 2px;
}

#filterbar li.on {
	background-color: #c8e0be;
	border-color: #79df51;
	color: #1b6100;
}


#meses {
	margin: 60px 15px;
}

#meses > li {
	display: table-row;
	position: relative;
}

#meses > li > * {
	float: left;
}

.dias {
	display: table-cell;
}

.transportes {
	width: 610px;
	margin-left: 9px;
	padding-left: 5px;
	margin-bottom: 25px;
	border-left: 1px solid black;
}

.Hoje.fixAmanha .transportes {
	margin-bottom: 35px;
}

.transportes > li {
	position: relative;
	padding: 10px;
	display: table-row;
}

.transportes > li:nth-child(odd) {
	background-color: rgba(203,203,203,0.3);
}

/*.Hoje .transportes > li:nth-child(odd),
.Amanhã .transportes > li:nth-child(odd) {
	background-color: white;
}
.Hoje .transportes > li:nth-child(even),
.Amanhã .transportes > li:nth-child(even) {
	background-color: rgba(203,203,203,0.3);
}*/

.highlight {
  background-color: rgba(255,170,170,0.3);
}

.dias > li {
	clear: both;
	display: table-row;
}

.dias > li > * {
	float: left;
}

/* @group Labels */

span.mes,
#meses > li > span {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: table-cell;
	font: 20pt Georgia, "Times New Roman", Times, serif;
	margin-top: 10px;
}

span.dia,
.dias > li > span {
	font: 30pt Georgia, "Times New Roman", Times, serif;
	width: 45px;
	position: relative;
	margin-top: -2px;
}

span.transporte,
.transportes > li > span {
	float: left;
	width: 100px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin: 10px;
	font: 16pt Georgia, "Times New Roman", Times, serif;
}

.mensagens div.time {
	display: inline-block;
	width: 70px;
	text-align: center;
}

.mensagens span.time {
	font-size: medium;
}

.mensagens .time.end:before {
	content: " até ";
	font-size: 9pt;
	opacity: 0.7;
}

.mensagens {
	display: table-cell;
	vertical-align: middle;
	margin: 10px 0px;
	width: 100%;
}

.mensagens li {
	margin-bottom: -1px;
	padding: 10px;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

.mensagens li:last-child {
	border-bottom: none;
}
.mensagens li:first-child {
	border-top: none;
}

.mensagens li.wtime div.msg {
	display: inline-block;
	vertical-align: top;
	width: 380px;
	padding-left: 10px;
}

/* @end */

.important {
	font-weight: bold;
	color: darkred;
}

#fotter {
	padding: 30px 0;
	text-align: center;
	color: grey;
	width: auto;
	margin: auto;
}

#fotter a {
	color: grey;	
}

#disclaimer {
	color: grey;
	padding: 30px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: auto;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}


strong {
	font-weight: bold;
}

#sn {
	position: absolute;
	top: 78px;
	left: 22px;
}


.canceled:after {
	content: "";
	background-image: url(desconvocada.png);
	display: block;
	width: 173px;
	height: 50px;
	position: absolute;
	top: -11px;
	left: 150px;
}

a.source {
	text-indent: -5000px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(arrow-fonte.png);
	margin-right: 43px;
}

a.source:hover {
	background-position: -15px;
	width: 58px;
	margin-right: 0;
}

li.Hoje, li.Amanhã {
}

.alias {
	font: 10pt Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width: 120px;
	position: absolute;
	margin-top: -16px;
	margin-left: 60px;
}

p.nostrikes {
	padding: 100px 0;
	text-align: center;
}


