/* @override 
	http://localhost/~carlos/hagreve/hojehatransportes/static/mobile.min.css
	http://whatever.local/~carlos/hagreve/hojehatransportes/static/mobile.css
*/

* {
    -webkit-text-size-adjust: none;
}

body {
    font: 1.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #2a2a2a;
}
 
body > * {
    padding: 5px;
}
 
a {
    color: #000;
}
 
a.source {
    text-indent: -5000px;
    display: inline-block;
    height: 15px;
    background-image: url(arrow-fonte.png);
    background-position: -15px;
    width: 58px;
}
 
/* @group Labels */
 
span.month,
#months > li > span {
    overflow: hidden;
    text-overflow: ellipsis;
    font: 20pt Georgia, "Times New Roman", Times, serif;
    border-bottom: 1px solid silver;
    display: block;
    padding-right: 50px;
    text-align: right;
}
 
span.day,
.days > li > span {
    display: table-cell;
    width: 30px;
    padding-left: 5px;
    font: bold 20pt Georgia, "Times New Roman", Times, serif;
}
 
span.company,
.companies > li > span {
    text-align: center;
    font: 16pt Georgia, "Times New Roman", Times, serif;
}
 
.time {

}
 
.time.start:before {
	content: "das ";
    font-size: 9pt;
    opacity: 0.7;
}

.time.end:before {
    content: " até às ";
    font-size: 9pt;
    opacity: 0.7;
}
 
 
 ul.strikes > li:hover a.permalink {
	color: #aaa;
}

a.permalink {
	text-decoration: none;
	color: #d7d7d7;
}


.mensagens li.wtime div.msg {
}
 
/* @end */
 
.important {
    font-weight: bold;
    color: darkred;
}
 
 
strong {
    font-weight: bold;
}
 
 
.canceled:after {
    content: "";
    background-image: url(desconvocada.png);
    display: block;
    width: 173px;
    height: 50px;
    position: absolute;
    top: -11px;
    left: 150px;
}
 
ul.mensagens > li {
    position: relative;
    margin-bottom: 10px;
}
 
h1, h1 a {
    color: #727272;
    display: block;
    position: inherit;
    text-shadow: rgba(0,0,0,0.26) 1px 1px 0;
    font-size: 30pt;
    text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
 
h1 span {
    font-size: small;
    text-shadow: none;
    position: inherit;
    display: block;
}
 
#submit {
    color: gray;
}
 
#submit a {
    color: gray;
}
 
#months {
    margin-top: 10px;
    display: block;
    padding: 0;
}
 
#months li ul.days > li {
    display: table-row;
}
 
ul.days {
    display: table;
    border-collapse: separate;
}
 
ul.companies {
    display: table-cell;
}
 
li.company {
    margin-bottom: 20px;
    margin-left: 10px;
}
 
.days > li:nth-child(odd) {
    background-color: rgba(203,203,203,0.3);
}
 
.canceled:after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: -8px;
    background: url(desconvocada.png) no-repeat center;
    left: 0;
}
 
 
#fotter,
#disclaimer,
#snAndSubmit {
    padding: 15px 0;
    text-align: center;
    color: grey;
    border-top: 1px solid #ccc;
    font-size: 9pt;
    position: relative;
}
 
#fotter a {
    white-space: nowrap;
    color: grey;
}
 
 
p#subscribe {
    text-align: left;   
    padding-left: 5px;
}
 
#sn {
    position: absolute;
    bottom: 8px;
    right: 0;
}
 
li.company > span {
    font-weight: bold;
}

.alias {
	display: none;
}

@media only screen and (max-device-width:300px) {

h1 {
    font-size: 2em;
}
 
h1 span {
}
 
li.company > span{
    font-size: 14pt;
}
 
li.company {
    margin-left: inherit;
}
 
span.day,
.days > li > span {
    font-size: 15pt;
}
 
#fotter {
    line-height: 1.5em;
}
}

#snAndSubmit {
    margin-bottom: 18px;
    font-size: 0.8em;
}

p#subscribe {
    text-align: center; 
    padding-left: 0;
}

#sn {
    bottom: -13px;
    width: 100%;
}



p.nostrikes {
	padding: 30px 30px;
	text-align: center;
}

#user_links {
	display: none;
}

.highlight {
	background-color: #d7d7d7;
	border-left: 10px solid #b1b1b1;
	margin-left: -12px;
	padding: 5px 0 5px 2px;
}